{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.4.2"
    },
  },
  "rules": {
    "comma-spacing": [2, { "before": false, "after": true }],
    "dot-notation": 2,
    "eqeqeq": 1,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "jsx-quotes": [1, "prefer-single"],
    "linebreak-style": [2, "unix"],
    "no-alert": 1,
    "no-duplicate-imports": 1,
    "no-multi-spaces": 1,
    "object-curly-spacing": [1, "always"],
    "prefer-const": 1,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "template-curly-spacing": [2, "always"],

    "react/prop-types": 1,
    "react/boolean-prop-naming": [2, { "rule": "^(is|has|with)[A-Z]([A-Za-z0-9]?)+", "message": "It is better if your prop \"{{ propName }}\" matches this pattern: {{ pattern }}" }],
    "react/destructuring-assignment": [1, "always"],
    "react/forbid-component-props": 2,
    "react/no-access-state-in-setstate": 2,
    "react/no-children-prop": 2,
    "react/no-danger": 2,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-will-update-set-state": 1,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 2,
    "react/no-redundant-should-component-update": 2,
    "react/no-render-return-value": 2,
    "react/no-this-in-sfc": 2,
    "react/no-unescaped-entities": 2,
    "react/prefer-es6-class": 2,
    "react/prefer-stateless-function": 2,
    "react/require-default-props": 2,
    "react/require-optimization": 0,
    "react/require-render-return": 2,
    "react/style-prop-object": 2,
    "react/void-dom-elements-no-children": 2,
    "react/sort-comp": [1, {
      "order": [
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "everything-else",
        "render"
      ]
    }],
    "react/self-closing-comp": [2, {
      "component": true,
      "html": true
    }],

    "react/jsx-closing-bracket-location": [1, "line-aligned"],
    "react/jsx-closing-tag-location": 2,
    "react/jsx-curly-spacing": [1, {
      "when": "always",
      "spacing": {
        "objectLiterals": "always"
      }
    }],
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-no-bind": [2, {
      "allowArrowFunctions": true
    }],
    "react/jsx-one-expression-per-line": [1, { "allow": "single-child" }],
    "react/jsx-pascal-case": 2,
    "react/jsx-props-no-multi-spaces": 2,
    "react/jsx-tag-spacing": [2, {
      "beforeClosing": "never"
    }],
    "react/jsx-wrap-multilines": [2, {
      "declaration": "parens-new-line",
      "assignment": "parens-new-line",
      "return": "parens-new-line",
      "arrow": "parens-new-line",
      "condition": "parens-new-line",
      "logical": "parens-new-line",
      "prop": "parens-new-line"
    }]
  }
}
