@import ./Wrapper

.content
  height: 100%
  padding-top: $indent*2
  padding-bottom: $indent

.block-container
  margin-bottom: $indent
  width: 100%

  &.block-container-buttons
    padding: $indent/2 $indent
    text-align: center

    button
      margin: 0 $indent/4

  &.block-container-grid
    padding: $indent
    